<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panel administracyjny</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<div style="float: right" th:include="szablon/toggle-button"></div>
<div class="container">
    <ul style=" list-style:none">
        <li><a href="/" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> WRÓĆ NA STRONĘ GŁÓWNĄ
        </a></li>
    </ul>
    <h1>Panel administracyjny</h1>
    <h2>Lista użytkowników</h2>
    <ul>
        <li th:each="email: ${userEmails}">
            <span th:text="${email}">jan@kowalski.com</span>
            <a href="#" th:href="@{/admin/delete-user(email=${email})}">
                Usuń
            </a>
        </li>
    </ul>
</div>
<script src="/js/main.js"></script>
</body>
</html>