<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>advertisement-info</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<div style="float: right" th:include="segments/toggle-button"></div>
<body style="display: flex;   flex-direction: column; align-items: center;">
<div th:if="${advertisement.get().filePath != null and !advertisement.get().filePath.isEmpty()}">
    <img width="200" th:src="@{'/img/' + ${advertisement.get().filePath} + '.jpg'}" alt="adv-image"/>
</div>
<p th:text="'Nazwa: ' + ${advertisement.get().title}"></p>
<p th:text="'Opis: ' + ${advertisement.get().description}"></p>
<p th:text="'Cena: ' + ${#numbers.formatDecimal(advertisement.get().price, 0, 'COMMA', 2, 'POINT')+ ' zł'}"></p>
<p th:text="'Kategoria: ' + ${advertisement.get().category.getName()}"></p>
<p th:text="'Url: ' + ${advertisement.get().getLinkUrl()}"></p>
<p th:text="'ilość wyświetleń: ' + ${advertisement.get().viewCounter}"></p>
<a href="/category" class="btn btn-primary">
    <i class="fas fa-arrow-left"></i> WRÓĆ NA STRONĘ GŁÓWNĄ
</a>
</body>
<script src="/js/main.js"></script>
</html>