<!DOCTYPE html>
<html lang="pl"
      th:lang="${#request.getParameter('lang') ne null? #request.getParameter('lang') : 'en'}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<div style="float: right" th:include="segments/toggle-button"></div>
<div class="container">
    <h1>OGŁOSZENIA</h1>
    <img src="../static/img/security-image.jpg" th:src="@{/img/security-image.jpg}"
         alt="ogłoszenia"
         class="scaled-image"
    />
    <ul style="list-style:none">
        <li>
            <a href="#" th:href="@{/category?page=1}">
                <i class="fas fa-bullhorn"></i>
                <span>OGŁOSZENIA</span>
            </a>
        </li>
        &nbsp;
        <li>
            <a href="#" th:href="@{/admin}">
                <i class="fas fa-cog"></i>
                <span>Panel admina</span>
            </a>
        </li>
        &nbsp;
        <li th:if="${authentication.principal != 'anonymousUser'}">
            <a class="login-button"
               th:text="|Wyloguj się|"
               th:href="@{/logout}">Wyloguj się
            </a>
        </li>
    </ul>
</div>
<script src="/js/main.js"></script>
</body>
</html>