<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<div style="float: right" th:include="szablon/toggle-button"></div>
<div class="container">
    <h1 class="login-header">Zarejestruj się</h1>
    <i class="fas fa-user-plus fa-10x"></i>
    <form class="login-form" th:action="@{/register}" method="post" th:object="${user}">
        <input th:field="*{email}" placeholder="Email" type="email" class="form-item">
        <input th:field="*{username}" placeholder="Nazwa użytkownika" class="form-item">
        <input th:field="*{phone_number}" placeholder="Telefon" type="number" class="form-item">
        <input th:field="*{password}" placeholder="Hasło" type="password" class="form-item">
        <input th:field="*{firstName}" placeholder="Imię" class="form-item">
        <input th:field="*{lastName}" placeholder="Nazwisko" class="form-item">
        <button type="submit" class="form-item">Zarejestruj się</button>
    </form>
</div>
</body>
<script src="/js/main.js"></script>
</html>